---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Astro, Tailwind, Alpine, Motion One og Animate CSS Starter">
	<article class="prose" x-data>
		<h1>Astro, Tailwind, Alpine, Motion One og Animate CSS kombineret i en fin, lille starter:-)</h1>
		<p>Brug starteren til at komme godt i gang med dine Digital Design projekter</p>
		<p>Se også:</p>
		<ul>
			<li><a href="https://astro.build/" alt="Astro Website" target="_blank">Astro</a></li>
			<li><a href="https://tailwindcss.com/" alt="Tailwind CSS website" target="_blank">Tailwind</a></li>
			<li><a href="https://alpinejs.dev/" alt="Alpine JS website" target="_blank">Alpine.js</a></li>
			<li><a href="https://motion.dev/" alt="Motion One website" target="_blank">Motion One</a></li>
			<li><a href="https://animate.style/" alt="Animate.CSS website" target="_blank">Animate CSS</a></li>
		</ul>
		<p>
			Start med at clone repo'et fra Github: <a href="https://github.com/stefangrage/astro-tailwind-alpine-motion-animate-starter" alt="Astro, Tailwind, Alpine, Motion One og Animate CSS Starter">https://github.com/stefangrage/astro-tailwind-alpine-motion-animate-starter</a>
		</p>
		<p>
			Tilpas derefter indholdet i "pages, layouts, components og assets...
		</p>
		<p>
			Og vigtigst af alt: Lav noget godt:-)
		</p>
		<p>
			Se også <a href="http://motherfuckingwebsite.com/" alt="mf website">dette lille site</a> for lidt inspiration.
		</p>
		<div>
		<Button>Fang mig hvis du kan:-)</Button>
		</div>
	</article>
</MainLayout>
<style>
	ul>li:hover{
		animation: headShake; /* referring directly to the animation's @keyframe declaration */
  		animation-duration: 1s; /* don't forget to set a duration! */
	}
</style>