---
---
<div x-data>
    <button class="border-2 border-black p-2 rounded-md 
    animate__animated animate__heartBeat animate__infinite" 
    x-on:click="alert('Godt gået - god arbejdslyst:-)')"><slot /></button>
</div>